body {
		text-align: center;
		font-family: 'Helvetica', 'Arial', Sans-Serif;
}

h1 {
		padding: 10px 0;
		color: white;
		background-color: darkblue;
}

div {
	position: relative;
	margin: 0 auto;
	width: 605px;
	text-align: left;
}

/* class styles */

.score {
	width: 100%;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}
